.navcolor{
    background-color: #0A2647;
    width: 103.5%;
}
/* #logo{
    margin-left: 80px;
} */
#textcol{
    color: white;
}
#textcol:hover{
    color: rgb(252, 157, 5);
}
.caro{
    position: absolute;
    margin-top: -18em;

}
.cont{
    position: relative;
    color: white;
    text-align: center;
    margin-top: 20em;
}
#img{
    opacity: 0.9;
}
.btncon{

    width: 8em;
    height: 3em;
    border-radius: 0%;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    
}
.btncon:hover{
    width: 8em;
    height: 3em;
    border-radius: 0%;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    color: rgb(252, 252, 254);
    background-color: #0A2647;
    border-color: #0A2647;
}
.homec{
    background-color: #0A2647;
    height:9em;
    width:22em;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px; 
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    color:white;
    padding-left: 1em;
    line-height: 1em;
    padding-top: 1em;
}
.main-homecon{
    display: flex;
    margin-top: 8em;
    padding: 10px;
    justify-content: space-around;
    position: relative;
}
#conimg{
    height: 50px;
    width: 50px;
    margin-left: 17em;
}
#font{
    margin-top: -30px;
}
.container1{
    margin-top: 3em;
    background-color: #EAFDFC;
    background-size: cover;
}
.serc{
    font-size: 14px;
    background-color: #ffffff;
    background-size: cover;
    width:24em;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px; 
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    color:rgb(24, 22, 55);
    padding-left: 1em;
    line-height: 1em;
    padding-top: 1em;
    text-align: center;
    border: 1px solid white;
}
.main-homecon1{
    display: flex;
    margin-top: 1em;
    padding: 10px;
    justify-content: space-around;
    position: relative;
}
#font1{
    margin-top: 2em;
}
.serc:hover{
    border-color: rgb(255, 166, 0);
}
.serfon{
    padding-top: 4em;
}
#serimg{
    height: 50px;
    width: 50px;
    margin-top:3em;
    /* margin-left: 17em; */
    align-items: center;
}
.main-sercon{
    background-color: #000074;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top:0;
}
.sercon{
    color: white;
    /* padding-left: 1em; */
    line-height: 1em;
    padding-top: 6em;
    text-align: center;

}
#serimage{
    height: 50px;
    width: 50px;
    /* margin-left: 17em; */
    align-items: center;
}
.fac{
    font-size: 14px;
    background-color: #ffffff;
    height:27em;
    width:17em;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px; 
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    color:rgb(24, 22, 55);
    padding-left: 1em;
    line-height: 1em;
    padding-top: 1em;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.fac:hover{
    box-shadow: 0 0 2em 1em rgba(16, 16, 16, 0.2); 
}
.container11{
    margin-top: 3em;
    background-color: #ffffff;
    background-size: cover;
}
#font2{
    margin-top: 2em;
}
#facimg{
    height: 140px;
    width: 140px;
    border-radius: 85px;
    margin-top:2em;
    /* margin-left: 17em; */
    align-items: center;
}
#logos{
    height: 35px;
    width: 35px;
    justify-content: space-between;
    display: inline-block;
}
.container2{
    margin-top: 3em;
    color: white;
    background-color : #000074;
    background-size: cover;
}
.facc{
    font-size: 14px;
    background-color: #ffffff;
    height:20em;
    width:24em;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px; 
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    color:rgb(24, 22, 55);
    padding-left: 1em;
    line-height: 1em;
    padding-top: 1em;
    text-align: center;
    border: 1px solid white;
}
#faccimg{
    height: 110px;
    width: 110px;
    border-radius: 80px;
    margin-top:-4em;

    /* margin-left: 17em; */
    align-items: center;
}
.main-faccon1{
    display: flex;
    margin-top: 5em;
    padding: 10px;
    justify-content: space-around;
    position: relative;
}
.list-group{
    flex-direction: row;
    
}
ul.list-group:after {
    clear: both;
    display: block;
    content: "";
  }
  
  .list-group-item {
      float: left;
      background-color: #EAFDFC;
  }
  .box{
    font-weight: bold;
    color: black;
    margin-top: 3em;
    margin-left: 13.8em;
    width: 67.5em;
    background-color: #EAFDFC;
  }
  #galimg{
    height: 220px;
    width: 330px;
    /* font-size: 14px;
    background-color: #ffffff;
    height:20em;
    width:24em;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px; 
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    color:rgb(24, 22, 55);
    padding-left: 1em;
    line-height: 1em;
    padding-top: 1em;
    text-align: center;
    border: 1px solid white; */
}
.container2{
    margin-top: 3em;
    background-color: EAFDFC;
    color: #0A2647;
    background-size: cover;
}
.main-blocon1{
    display: flex;
    margin-top: 3em;
    padding: 10px;
    justify-content: space-around;
    position: relative;
}
#bloimg{
    height:17em;
    width:24.5em;
    margin-top: -1.1em;
    margin-left: -1.1em;
    /* margin-left: 17em; */
    align-items: center;
}
.blocon{
    padding-top: 4em;
    margin-top: 30em;
}
.blo{
    font-size: 14px;
    background-color: #ffffff;
    height:32em;
    width:24.5em;
    color:rgb(24, 22, 55);
    padding-left: 1em;
    line-height: 1em;
    padding-top: 1em;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.btnblo{
    width: 7em;
    height: 3em;
    border-radius: 0%;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    
}
.btnblo:hover{
    width: 7em;
    height: 3em;
    border-radius: 0%;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    color: rgb(252, 252, 254);
    background-color: #0A2647;
    border-color: #0A2647;
}
#call{
    margin-top: 1.3em;
    height: 15px;
    width: 15px;

}
#font3{
    margin-top: 0.5em;
}
#font4{
    margin-left: 1.5em;
    margin-top: -1em;
}
#font5{
    margin-left: 11.5em;
    margin-top: -2.3em;
}
#com{
    margin-top: -2.3em;
    height: 15px;
    width: 15px;
    margin-left: 10em;

}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(47, 47, 47);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  /**********CONTACT*********/

.contact-image {
    /* background-image: url("sky.jpg"); */
    background-color: #0A2647;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact-box {
    text-align: center;
}

.field {

    border: none;
    height: 3em;
    width: 25em;
}
.field::placeholder,input,textarea{
    font-weight: lighter;
    padding-left: 1em;
    border: none;
}
.sub{
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px; 
   border-top-left-radius: 0%;
   border-bottom-right-radius: 0%;
   width:10em;
   height:3em;
   text-align: center;
    }
    .sub:hover{
        background-color: #0A2647;
        color: white;
    }
    .map{
        width: 103.5%;
       position: relative;
       right: 2em; 
       top: 1em;
       height:13em;
       border-top: 3px solid goldenrod;
    }
    .map-box{
        width:103.5%;
        margin: 4ch;
        position: relative;
        right: 2em; 
        top:2em;
    }